#slideshow{
	padding-bottom: 30px;
}
#slideshow .container{
	background-color: #fff;
	overflow: hidden;
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}
#slideshow .container img {
	display: none;
	position: absolute;
}
#pagination{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
#pagination li{
	float: left;
	margin-left: 3px;
}
#pagination a{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/pagination.png) no-repeat -15px 0;
}
#pagination a.current{
	background-position: 0 0;
}